/* __________Общие стили _____________*/
@import url("../css/simplebar.css");   /* _________Скролл _____________*/
@import url("../css/blocks/generalis.css");   /*_____Общие стили________*/
@import url("../css/blocks/fonts.css");       /*_____Шрифты_____________*/
@import url("../css/choices.min.css");        /*_____Селект_____________*/
@import url('../css/normalize.css');        /*_____Нормалайз_____________*/

/* ____________Блоки__________________ */

@import url("../css/blocks/header.css");      /*________Хедер___________*/
@import url("../css/blocks/start.css");       /*_____первый блок________*/
@import url("../css/blocks/project.css");     /*_____Второй блок________*/
@import url("../css/blocks/gallery.css");     /*_____Третий блок________*/
@import url("../css/blocks/histoty.css");     /*_____Четвертый блок_____*/
@import url("../css/blocks/events.css");      /*_____Пятый блок_________*/
@import url("../css/blocks/editions.css");    /*_____Шестой блок________*/
@import url("../css/blocks/detailed.css");    /*_____Седьмой блок_______*/
@import url("../css/blocks/partners.css");    /*_____Восьмой блок_______*/
@import url("../css/blocks/contacts.css");    /*_____Девятый блок_______*/
@import url("../css/blocks/footer.css");      /*_________Футер__________*/

/* ____________"Эффекты"__________________ */

@import url("../css/effects/hover-effects.css"); /*______Ховер эффекты___*/
@import url( "../css/effects/all-clicks.css");    /*______Все Клики_______*/
@import url( "../css/effects/swiper/swiper-bundle.css"); /*______Свайпер__________*/
@import url( "../css/effects/swiper/swiper-bundle.min.css"); /*______Свайпер(мин.стили)__________*/

/* ____________"Адаптив"__________________ */
@import url('../css/adaptive/1024-1920.css');/* ____ Десктоп версия (1024-1920px)___ */
@import url("../css/adaptive/1024.css");     /* ____ Планшетная версия (1024px)_____ */
@import url('../adaptive/768-1024.css');
@import url("../css/adaptive/768.css");      /* ____ Планшетная версия (768px)______ */
@import url("../css/adaptive/320-768.css");  /* ____ Мобильная версия (320-768px)___ */   
@import url("../css/adaptive/320.css");      /* ____ Мобильная версия (320px)_______ */


