/*_____Пятый блок_________*/


.events__container{
    display: flex;
    height: 700px;
    transition: height 1s;
    margin-top: 26px;
}
.active-event {
    height: auto;
}
.events__block {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-bottom: 50px;
    border: 1px solid #CACACA;
    position: relative;
    
}

.events__info {
    background-color: white;
    padding: 0 46px;
}
.events__info h2 {
    font-size: 23px;
    margin-bottom: 0;
    line-height: 1.3;
}
.events__img { 
    height:300px;
}
.events__img img {
    width: 100%;
    height: 100%;
}
.active__event {
    height: 100%;
}
.events__adrees {
    font-size: 12px;
    text-align: end;
   margin: 13px 20px ;
    color: #999999;
}
.events__all {
    flex-wrap: wrap;
    justify-content: space-between;
}
.events-slide{
   width: 500px !important;
}
.events__descr {
    font-size: 16px;
    line-height: 2;
    padding: 7px 0px;
    
}
.events__link  {
    position: absolute;
    background-color: transparent;
    font-size: 15px;
    bottom: 48px;
   color: #9D5CD0;
   border: none;
   border-bottom: 1px solid #9D5CD0;
}

.events__button {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 59px;
    color: #9D5CD0 ;
    font-weight: 600;
    margin: 50px auto  78px;
}
.more {
    display: none;
}