/*_____________ Блок 1____________ */

.start__container {
  position: relative;
}

.start__img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 5;
}

.start .swiper-wrapper {
  position: absolute;
  top: 0;
  z-index: 0;
  flex-grow: 1;
}

.start .swiper-wrapper img {
  width: 100%;
  height: 100%;
}

.start__info {
  padding: 239px 0  120px;
  z-index: 5;
  width: 37%;
}

.start__title {
  word-break: break-all;
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 16px;
  font-weight: bold;
}

.start__descr {
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 92px;
}

.start__title,
.start__descr {
  color: #ffffff;
}

.start__button {
  display: flex;
  border: none;

  background-color: #9d5cd0;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 36px;
  transition: background-color 0.3s ease;
  z-index: 5;
}
