@media(max-width: 1600px) {
    .fix-container {
        max-width: 1400px;
    }
    .header__akk, .header__link {
        font-size: 16px;
    }
    .header__menu {
        margin: 0px auto 0 16px;
    }
    .events-slide {
        width: 445px !important;
    }
}

@media(max-width: 1400px) { 
    .fix-container {
    max-width: 1200px;
    }
    .item-bottom {
        margin-right: 80px;
    }
    .events-slide {
        width: 383px !important;
    }
}
@media(max-width: 1200px) { 
    .fix-container {
    max-width: 980px;
    }
  
    .header__akk, .header__link {
        font-size: 15px;
        
    }
    .item-top {
        margin-right: 35px;
    }
    .item-bottom {
        margin-right: 55px;
    }
    .header__search  {
        width: 200px;
    }
    .detailed__descr {
        width: 80%;
    }
    .history__content {
        width: 100%;
        height: 400px;
    }
    .events-slide {
        width: 470px !important;
    }
}