/* Адаптив | Планшетная версия (1024px) */
@media ( max-width: 1024px ) {
   
    .fix-container {
        max-width: 925px;
        width: 100%;
    }
    header {
        display: flex;   
        flex-direction: row;
    }
    .header__top {
        display: flex;  
        width: 100%;
    }
    .header__bottom {
        width: auto;
        right: 20px;    
        background-color: black; 
    }
    .unity-bottom {
        padding: 21px 29px;
        justify-content:flex-end;
    }
    .header__button {
        width: 30px;
        height: 30px;
    }
    .header__akk,
    .unity-bottom .header__list,
    .header__search {
        display: none;
    }
    .logo {
        width: 88%;
    }
    .logo   img {
        width: 23%;
    }
    .header__menu {
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        left: -118%;
        font-size: 30px;
        bottom: -100px;
        border-top: 1px solid #CACACA;
        background-color: rgba(0, 0, 0, 0.726);
        transition: all 0.3s ease 0s; 
    }
    .header__item {
        border-bottom: 2px solid #CACACA;
        width: 90%;
        margin: 0 auto;
    }
    body.lock {
        overflow-y: hidden;
    }
    .header__akk, .header__link {
        font-size: 30px;
    }
    .header__item {
        padding: 0;
    }
    .header__item:first-child {
        padding-top: 50px;
    }
    .header__menu .header__list{
        display: flex;
        z-index: 1;
        position: absolute;
        left: -118%;
        height: 100%;
        flex-direction: column;  
        line-height: 2;   
        width: 60%;
        transition: all 0.9s ease 0s;
        background-color: black;
    }
    .header__burger {
        display: block;
        margin-left: 50px;
    }
    .header__button {
        margin-top: 15px;
        margin-right: 20px;
    }
    .header__button svg {
        width: 30px;
        height: 30px;
    }

 /* Первый блок */

    .start__container {
         height: 770px;
     }
    .start__info {
        margin: 217px 0 0 ;
        width: 100%;
     }
    .start__button  {
        margin-bottom: 116px;
     }
    .start__title {
        font-size: 70px;
        line-height: 1.14;
        margin-bottom: 12px;
        letter-spacing: 2px;
    }
     .start__descr {
        width: 72%;
     }
 
 /* Второй блок */ 

    .project__info {
        width: 100%;
    }
    .project__descr {
        font-size: 16px;
        margin-bottom: 71px;
    }
    /* Третий блок */  
    .gallery img {
        width: 280px;
    }
    .gallery__unity-block {
        padding-bottom:  72px;
    }
    .gallery__left {
        width: 435px;
        z-index: 1;
        margin-right: 55px;
    }
    .gallery__title{
        margin-bottom: 23px;
    }
    .gallery__descr {
        width: 100%;
        font-size: 16px;
        line-height: 1.98;
    }
    .history__countries {
        margin-left: 34px;
        margin-top: 17px;
    }
    .history__celebrity {
        margin-top: 31px;
    }
    .history__ame {
        font-size: 23.2px;
    }
    .descr-1 {
        width: 100%;
        font-size: 16px;
        margin-bottom: 36px;
    }
    .history__left {
        flex-basis: 48%;
        margin-right: 54px;
    }
    .history__right {
        width:  440px;
    }
    .history__name {
        margin-bottom: 12px;
    }
    .history__period:first-child {
        padding-bottom: 0px;
    }
    .history__celebrity .history__descr {
        margin-top: 10px;
        line-height: 2;
    }
    .history__left-img {
        height: 273px;
        width: 438px;
        background-position: center;
        background-size: 440px;    
    }
    .header__logo {
        display: flex;
        justify-content: center;
    }
    .history__content {
        height:389px;
        width: 100%;
    }
    .history__item {
        width: 57%;
    }
    .history__period label {
        padding: 36px 0 27px;
        font-size: 23px;
    }
    /*  */
    .events__container {
        margin-top: 21px;
    }
    .events__info {
        height: 480px;
        padding: 0 39px;
    }
    .events__adrees {
        margin: 12px 16px 6px;
    }
    .events-slide {
        width: 297px !important;
    }
    .events__info h2 {
        font-size: 23px;
        margin-bottom: 0px;
        line-height: 1.4;
    }
    .events__descr {
        font-size: 15px;
        padding: 4px 0px;
        line-height: 2.15;
        word-spacing: 10px;
    }
    .events__link {
        bottom: 54px;
        left:35px;
        font-size: 16px;
    }
    .events__button {
        margin: 34px auto 80px;
        padding: 17px 32px;
        font-size: 18px;
    }
    .events__block {
        height: 682px;
    }
    .events__img {
        height: 33%;
    }
    .more {
        display: none;
    }
    .dots {
        display: block;
    }

    /*  */

    .editions {
        overflow: hidden;
        position: relative;
    }
    .editions__title {
        font-size: 47px;
    }
    .editions img {
        width: 289px;
        height: 321px;
    }
    .editions__filter, 
    .editions__all-category {
        margin-right: 13px;
    }
    .editions__all-category {
        line-height: 2;
        margin-bottom: 33px;
    }
    .editions__category {
        font-size: 16px;
    }
    .partners__border img {
        padding: 37px 23px;
    }
    .editions__info {  
        margin: 13px 0 12px;
    }
    .editions__rub {
        padding: 0 18px 0 9px;
    }
    .editions__cost {
        margin: 0;      
    } 
    .editions__price h3 {
        margin-bottom: 14px;      
    }
    .editions__books .slide-list {
        margin: 40px 0px 30px;
    }
    .editions__size-swiper {
        left: 0;
    }

    /*  */

    .detailed__descr {
        width: 100%; 
    }

    /*  */
    
    .partners__title {
        font-size: 24px;       
    }
    .partners__size {
        width: 88%;
    }
    .partners__img {
        height: 116px;
    }
    .partners__border {
        height: 127px;
        width: 383px;
    }
    .btn__partners-right {       
        left: -78%;
    }
    .contacts__img {
        width: 59px;
        height: 59px;
        margin-left: 0px;
        margin-right: 29px;
    }
    .contacts__info {
        padding: 132px 43px 82px 0px;
        width: 440px;
    }
    .contacts__communication {
        margin: 40px 0 18px; 
    }
    .contacts__office {
        font-size: 23px;
    }
    .contacts__street {
        margin-bottom: 38px;
    }
    .form__title {
        margin-bottom: 16px;
    }
    
    .form input {
        width: 285px;
        padding: 12px  25px;
    }
    .form__name, .form__tel {
        margin-bottom: 21px;
    }
    .form__button {
        margin-top:0 ;
      font-size: 20px;
        width: 154px;
    }
    #map {
        width: 52.6% !important;
    }
    .footer__social:nth-child(2) {
        margin: 0 22px;
    } 
    .footer__all {
        padding: 44px 0;
    }
    .footer__logo img  {
        width: 25%;
    }
    .footer__social {
        width: 65px;
        height: 57px;    
    }   
    .footer__inst {
        background-position: -77.5px ;
    }
    .footer__fc {
        background-position: -155.5px ;
    }   
    .contacts {
        margin-bottom: 10px !important;
    }
}