/* ____ Мобильная версия (320-768px)______ */ 
@media (max-width: 720px ) {
    .history__img {
        margin-right: 20px;
    }
    .history__item {
        width: 30%;
    }
    .logo img {
        width: 60%;
    }
}
 @media (max-width: 680px ) {
    .fix-container {
        max-width: 540px;
    }
    .start__title {
       font-size: 69px;
    }
    .start__descr {
        font-size: 17.9px;
    }
    .start__img {
        display: flex;
        flex-direction: column;
       align-items: center;  
    } 
    .start__info {
        text-align: center;
        margin: 217px 0 100px;
    }
    .events-slide {
        width: 100% !important;
    }
    .events__all {
        flex-wrap: nowrap;
    }
    .events__container {
        height: 728px;
    }
    .swiper-pagination-bullet {
        width: 11px ;
        height: 11px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 7px;
    }
    .contacts__left {
        width: 100%;
        padding: 0 ;
    }
    .contacts__info  {
        padding: 0;
    }
    .contacts__left {
        padding: 0;
    }
    .contacts__street {
        margin-top: 0px;
        margin-bottom: 359px;
    }
    .start__info {
        margin: 217px 0 100px;
    }
    .gallery__img {
        height: 367px !important;
        width: 290px !important;
    }
    
    .content-1 {
        height: 368px !important;
    }
    .content-2 {
        width: auto;
        height: auto !important;
    }
    .slide__list {
        order: 2;
        margin: 21px auto;
    }
    .gallery img {
        width: 230px;
        height: 230px;
    }
    .content-1 {
        width: auto !important;
    }
    .history__header {
        flex-direction: column;
        align-items: center;
    }
    .history__countries {
        margin-left: 7px;
    }
    .history__img {
        margin-right: 12px;
    }
    .history__content {
        height: 427px;
    }
    .history__item {
        width: auto;
    }
    .descr-1 {
        display: none;
    }
    .events__button {
        display: none;
    }
    .editions {
        background-size: cover;
    }
    .editions__content {
        padding: 0;
        height: 100%;
        flex-direction: column;
    }
    .editions__title {
        padding-top: 41px;
       
    }
    .editions__filter h4 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .editions__all-category {
        display: none;
    }
    .editions__size {
        flex-direction: row !important;
        justify-content: space-between;
    }
    .price-1 {
        width: 100%;
        margin-top: 65px;
    }
    .editions__cost{
        width: 100%;
    }
    .cost-1 {
        padding: 0 10px;
    }
    .editions__cost-price {
        width: 70px;
    }
    .cost-2 {
        padding: 0 7px;
    }
    .editions__rub {
        padding: 0 8px;
    }
    .editions__books .slide-list {
        display: none;
    }
    .editions__img {
        width: 202px;
        height: 250px;
        background-size: cover !important;
    }
    .editions__info {
        flex-direction: column;
      
    }
    .editions__books {
        position: inherit;
        width: 100% !important;
    }
    .editions__size-swiper {
        top: 0px;
        left: 0;
    }
    .editions__filter {
        margin: 0;
        margin-bottom: 20px;
       
    }
    .ebitions__size {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .detailed__descr {
        width: auto;
    }
    
    .contacts__left {
        border: none;
        display: flex;
    }
    .editions__info {
        font-size: 12px;
        flex-direction: row;
        width: 85%;
    }
    .editions__button {
        Width: 129px;
        padding: 12px 20px;
        font-size: 13px;
    }
    .editions__info {
        margin: 8px 0 3px;
    }
    .ebitions__book {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }
 @media (max-width: 550px ) {
    .fix-container {
        max-width: 430px; 
    }
    .history__content {
        height: auto;
    }
    .start__title {
        font-size: 55px;
     }
    .start__info {
        text-align: center;
       
    }
    .gallery .swiper-slide:nth-child(4n+3), .gallery .swiper-slide:nth-child(4n+4) {
        margin-top: 0 !important;
    }
    .gallery__sort {
        margin-bottom: 121px;
    }
    .events__block {
        height: 682px;
        margin-bottom: 0;
    }
    .events__adrees {
        margin: 15px 13px 21px;
    }

}
 @media (max-width: 450px ) {
    .fix-container {
        max-width: 300px;
    }
    .logo img {
        width: 90%;
    }
    .history__img {

        width: 50px;
        height: 50px;
    }
    .start__title {
        font-size: 45px;
        width: 100%;
       margin: 0 auto;
        word-spacing: 0px;
    }
    .start__button {
      
        font-size: 22px
    }
    .project__descr {
        line-height: 28px;
    }
    .start__info {
        margin: 217px 0 100px;
    }
    .btn__partners-right {
        left: -292%;
    }
    .gallery__img {
        height: 367px !important;
        width: 290px !important;
    }
    .editions__img {
        width: 130px;
        height: 143px;
    }  
    .editions__info {
        font-size: 9px; 
       
    }
    .contacts__street {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }
    .contacts__img {
        width: 49px;
        height: 49px;
        margin-left: 2px;
        margin-right: 20px;
    }
    .form input {
        width: 100%;
        padding: 9px 25px;
    }
    .form__name {
        margin-bottom: 22px;
    }
   .form__tel {
        margin-bottom: 21px;
    }
    .contacts {
        position: relative;
    }
    .contacts__office {
        order: 0;
    }
    .contacts__street {
        order: 1;
        margin-bottom: 18px;
    }
    #map {
        order: 2;
        width: 100%;
        height: 320px;
        margin-bottom: 21px;
    }
    .form {
        order: 3;
    }
    .contacts__communication {
        order: 4;
    }
    .contacts__sprite {
        order: 5;
    }
    .form__button {
        font-size: 13px;
        width: 130px;
        height: 39px;
        padding: 10px 40px;
    }
    .contacts {
        margin-bottom: 20px !important;
    }
    .contacts__communication {
        font-size: 18px;
        margin: 25px 0 15px;
    }
    .footer__all {
        flex-direction: column-reverse;
        padding: 20px 0;
    }
    .footer__sprite {
        margin-bottom: 20px;
    }
    .footer__logo {
        justify-content: center;
        display: flex;
    }
 } 