/* ____ Мобильная версия (320-768px)______ */ 
 @media (max-width: 680px ) {
    .fix-container {
        max-width: 550px;
    }
    .start__title {
       font-size: 69px;
    }
    .start__descr {
        font-size: 17.9px;
    }
    .start__img {
        display: flex;
        flex-direction: column;
       align-items: center;  
    } 
    .start__info {
        text-align: center;
        margin: 217px 0 100px;
    }
    #map {
        top: 161px;  
        position: absolute;
        height: 330px !important;
        width: 100% !important;
        
    }
    .events-slide {
        width: 100% !important;
    }
    .events__all {
        flex-wrap: nowrap;
    }
    .events__container {
        height: 728px;
    }
    .swiper-pagination-bullet {
        width: 11px ;
        height: 11px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 7px;
    }
    .contacts__left {
        width: 100%;
        padding: 0 ;
    }
    .contacts__info  {
        padding: 0;
    }
    .contacts__left {
        padding: 0;
    }
    .contacts__street {
        margin-top: 0px;
        margin-bottom: 359px;
    }
    .gallery__right {
        display: flex;
        flex-direction: column;
        height: 45%;
        top: 350px;
    }
    .start__info {
        margin: 217px 0 100px;
    }
    .gallery__img {
        height: 367px !important;
        width: 290px !important;
    }
    
    .content-1 {
        height: 368px !important;
    }
    .content-2 {
        width: auto;
        height: auto !important;
    }
    .slide__list {
        order: 2;
        margin: 21px auto;
    }
    .content-1 {
        width: auto !important;
    }
    .history__header {
        flex-direction: column;
        align-items: center;
    }
    .history__countries {
        margin: 0 auto 20px;
    }
    .history__content {
        height: 585px;
    }
    .history__item {
        width: 57%;
    }
    .descr-1 {
        display: none;
    }
    .events__button {
        display: none;
    }
    .editions {
        background-size: cover;
    }
    .editions__content {
        padding: 0;
        height: 100%;
        flex-direction: column;
    }
    .editions__title {
        padding-top: 41px;
       
    }
    .editions__filter h4 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .editions__all-category {
        display: none;
    }
    .editions__size {
        flex-direction: row !important;
        justify-content: space-between;
    }
    .price-1 {
        width: 100%;
        margin-top: 65px;
    }
    .editions__cost{
        width: 100%;
    }
    .cost-1 {
        padding: 0 10px;
    }
    .editions__cost-price {
        width: 70px;
    }
    .cost-2 {
        padding: 0 7px;
    }
    .editions__rub {
        padding: 0 8px;
    }
    .editions__books .slide-list {
        display: none;
    }
    .editions__img {
        width: 202px;
        height: 250px;
        background-size: cover !important;
    }
    .editions__info {
        flex-direction: column;
      
    }
    .editions__books {
        position: inherit;
        width: 100% !important;
    }
    .editions__size-swiper {
        top: 0px;
        left: 0;
    }
    .editions__filter {
        margin: 0;
        margin-bottom: 20px;
       
    }
    .ebitions__size {
        flex-wrap: wrap;
        justify-content: space-between;
    }
  
    
    .contacts__left {
        border: none;
    }
    .editions__info {
        font-size: 12px;
        flex-direction: row;
        width: 85%;
    }
    .editions__button {
        Width: 129px;
        padding: 8px 20px;
    }
    .editions__info {
        margin: 8px 0 3px;
    }
    .ebitions__book {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 }
 @media (max-width: 550px ) {
    .fix-container {
        max-width: 450px; 
    }
    .start__title {
        font-size: 55px;
     }
    .start__info {
        text-align: center;
        margin: 217px 0 60px;
    }
 }
 @media (max-width: 450px ) {
    .fix-container {
        max-width: 380px;
    }
    .start__title {
        font-size: 45px;
    }
    .start__button {
      
        font-size: 22px
    }
    .start__info {
        margin: 217px 0 100px;
    }
    .gallery__img {
        height: 367px !important;
        width: 290px !important;
    }
    .editions__img {
        width: 130px;
        height: 143px;
    }  
    .editions__info {
        font-size: 9px; 
       
    }
 } 